.certificate-display-card-container {
    width: 15rem;
    height: 13rem;
    border-radius: 2rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.certificate-display-card-image-container {
    width: 12rem;
    height: 6rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.certificate-display-card-name-container {
    width: 80%;
    height: 4rem;
    text-align: center;
}

.certificate-logo-image {
    height: 100%;
}