.exit-container {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  font-weight: bolder;
  font-family: Consolas;
}

.exit-container-hide {
  visibility: hidden;
  pointer-events: none;
}

.fade-present {
  animation: fadeShowIn 1s forwards;
  pointer-events: auto;
  cursor: pointer;
}

.exit-image{
    width: 100%;
}

@keyframes fadeShowIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    pointer-events: auto;
  }
}