#headerbar{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

#banner-image-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 450px){
    #bannerlogo{
        width: 100%;
    }
}

#slogan{
    width: 100%;
    color: white;
    text-align: center;
}

#banner-nav-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hidden{
    opacity: 0%;
}

.reveal{
    opacity: 100%;
    animation: reveal-menu 0.5s;
}

#banner-nav-section-mobile{
    background-color: rgba(80, 80, 80, 0.836);
    width: 50vw;
    height: 20rem;
    position: absolute;
    right: 1.5rem;
    margin: 1rem;
    padding: 3vw;
}

@keyframes reveal-menu {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.bar {
    position: absolute;
    width: 36px;
    height: 3px;
    background-color: #ffffff;
    transition: 0.5s;
}

#bar1{
    top: -8px;
}
#bar3{
    top: 8px;
}
#hamburger {
    display: inline-block;
    position: absolute;
    right: 1rem;
    padding: 2rem;
}
#hamburger > div{
    position: relative;
}
.click #bar1 {
      transform: rotate(-45deg);
      top: 5px;  
}
.click #bar2{
      opacity: 0;
     
}
.click #bar3{
      transform: rotate(45deg);
      top: 0;  
}