#slider-body{
    background-color: rgb(114, 114, 114);
    height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-container{
    height: 80%;
    width: 50%;
}

#image-sec{
    height: 100%;
    display: flex;
    align-items: center;
}

#left-arrow-container{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-arrow-container{
    width: 5rem;
    height: 5rem;
    left: calc(100% - 10rem);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-image{
    height: 100%;
}

#display-image-container{
    position: absolute;
    height: 60%;
    width: calc(100% - 36rem);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 450px){
    #display-container{
        height: 80%;
        width: 100%;
    }

    #display-image{
        height: 70%;
    }
}

#left-arrow{
    width: 50%;
    height: 80%;
    transform: rotate(180deg);
    cursor: pointer;
}

#right-arrow{
    width: 50%;
    height: 80%;
    cursor: pointer;
}

#left-arrow:hover{
    filter: invert(1);
}

#right-arrow:hover{
    filter: invert(1);
}