.nav-button{
    height: 2.5rem;
    padding: 0 1rem 0 1rem;
    margin: 1rem 0 1rem 0;
    background-color: black;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.8), 0 2px 3px 0 rgba(255, 255, 255, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    animation: navButtonHover 0.25s forwards;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(255, 255, 255, 0.19)
}

.anchor-text{
    color: white;
    text-decoration: none;
    font-size: large;
}

@keyframes navButtonHover {
    0% {
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.8), 0 2px 3px 0 rgba(255, 255, 255, 0.19);
    }
    100% {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(255, 255, 255, 0.19)
    }
}