#navbar {
    width: 100%;
    height: 11rem;
    display: flex;
    background-color: black;
}

#logo-image-section {
    width: 30%;
    height: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerlogo {
    width: 100%;
}

#nav-button-section {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

@media only screen and (max-width: 750px) {
    #logo-image-section {
        width: 70%;
        margin-right: 0;
    }
}

.nav-mobile-menu-container {
    width: 50vw;
    height: auto;
}

.bar {
    position: absolute;
    width: 36px;
    height: 3px;
    background-color: #ffffff;
    transition: 0.5s;
}

#bar1 {
    top: -8px;
}

#bar3 {
    top: 8px;
}

#hamburger {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hamburger>div {
    position: relative;
}

.click #bar1 {
    transform: rotate(-45deg);
    top: 5px;
}

.click #bar2 {
    opacity: 0;

}

.click #bar3 {
    transform: rotate(45deg);
    top: 0;
}

#banner-nav-section-mobile {
    background-color: rgba(80, 80, 80, 0.836);
    width: 50vw;
    height: auto;
    position: absolute;
    right: 0;
    margin: 1rem;
    padding: 3rem;
    z-index: 4;
}

.hidden {
    opacity: 0%;
}

.reveal {
    opacity: 100%;
    animation: reveal-menu 0.5s;
}

@keyframes reveal-menu {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}