.preview-testimonial-card {
  width: 22rem;
  height: 29rem;
  background-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.preview-testimonial-card :hover {
  cursor: pointer;
}

.preview-testimonial-content-container {
  width: 90%;
  height: 90%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image-container {
  width: 90%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image {
  width: auto;
  height: 100%;
}

.preview-text-container {
  width: auto;
  height: 35%;
  text-align: center;
}

.testimony-card-animation-wrapper {
  height: clamp(30rem, 45vw, 90vh);
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  overflow: hidden;
  opacity: 1;
  border-radius: 20px 0 0 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.card-animation-wrapper-complete {
  width: clamp(23rem, 65vw, 70vw);
  transform: translate(-50%, -50%);
}

.testimony-card-wrapper {
  width: clamp(23rem, 65vw, 70vw);
  height: clamp(30rem, 45vw, 90vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimony-card-container {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
}

.testimony-card-exit-button-container {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 550px) {
  .preview-testimonial-card {
    width: 14rem;
    height: 21rem;
  }

  .testimony-card-animation-wrapper {
    height: clamp(35rem, 45vw, 90vh);
    border-radius: 0 0 20px 20px;
  }

  .testimony-card-wrapper {
    height: clamp(35rem, 90vw, 90vh);
  }

  .testimony-card-container {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    padding: 2rem;
  }
}