.toggle-show-button-container {
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}