.certificate-section-container {
    width: 90%;
    height: auto;
    padding: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate-content-container {
    width: 75%;
}

.certificate-display-container {
    width: 100%;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}