.footer-section-container {
    width: 100%;
    height: 14rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
}

.footer-content-container{
    width: 100%;
    height: 50%;
}

.footer-text {
    text-align: center;
    font-size: clamp(1rem, 1vw, 1.25rem);
}

.footer-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1vw, 1.25rem);
}

.footer-email {
    color: white;
}

.footer-media {
    padding: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}