.philosophy-section-container {
    width: 90%;
    height: auto;
    padding: 5%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.philosophy-content-container {
    width: 70%;
    height: 15rem;
}

.philosophy-content-section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.philosophy-text-content {
    width: 80%;
    text-align: center;
    font-size: clamp(1.25rem, 1vw, 2rem);
    line-height: 2;
}

@media only screen and (max-width: 450px) {
    .philosophy-content-container {
        width: 90%;
        height: auto;
    }

    .philosophy-content-section {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .philosophy-text-content {
        width: 100%;
        text-align: left;
        font-size: medium;
        line-height: inherit;
    }
}