.testimonial-section-container {
    width: 100%;
    height: 35rem;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.preview-cards-container {
    width: 90%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview-cards-container > div {
    position: absolute;
}

#main {
    position: relative;
    z-index: 2;
}

#left, #right {
    position: absolute;
    z-index: 1;
    pointer-events: auto;
}

#left-hidden, #right-hidden {
    position: absolute;
    pointer-events: none;
}

.slide-out-left {
    animation: slideOutLeft 1s forwards;
}

.slide-back-left {
    animation: slideBackLeft 1s forwards;
}

.slide-out-right {
    animation: slideOutRight 1s forwards;
}

.slide-back-right {
    animation: slideBackRight 1s forwards;
}

.card {
    width: 20rem;
    height: 15rem;
    background-color: gray;
}

.index-bubble-container {
    padding: 2rem;
    display: flex;
    column-gap: 0.5rem;
}

.index-bubble {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
}

.bubble-empty {
    background-color: whitesmoke;
}

.bubble-filled {
    background-color: gray;
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(-22vw) scale(0.8);
    }
    100% {
        transform: translateX(-6vw) scale(0.8);
    }
}

@keyframes slideBackLeft {
    0% {
        transform: translateX(-6vw) scale(0.8);
    }
    100% {
        transform: translateX(-22vw) scale(0.8);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(22vw) scale(0.8);
    }
    100% {
        transform: translateX(6vw) scale(0.8);
    }
}

@keyframes slideBackRight {
    0% {
        transform: translateX(6vw) scale(0.8);
    }
    100% {
        transform: translateX(22vw) scale(0.8);
    }
}