.video-section-container {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-content{
    width: clamp(20rem, 30%, 30%);
    height: auto;
    padding: 2.5%;
}

.video-wrapper {
    width: 100%;
}