#app{
  overflow: hidden;
}

body{
  background-color: black;
}

.section-title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2.5rem, 2vw, 3rem);
    font-weight: bolder;
}